# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

#cursor
.cursorrules/

# Config
config/config.yaml

# Logs
logs/
*.log

# Database
*.db
*.sqlite3
data/birdweather.db
data/*.db

# Bird images
dashboard/static/img/birds/*
!dashboard/static/img/birds/.gitkeep

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db 